In [41]:
import gmaps
import pandas as pd


# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [34]:
# Create courses dataframe
courses_df = pd.read_csv('./Resources/draft_dgolf_avincome.csv')
courses_df.dropna(inplace = True) 
courses_df.head()

,Unnamed: 0,id,name,city,state_x,zip,holeCount,rating,latitude,longitude,Modified,Comments,state_y,zipcode,total_pop,total_income,country,avg_income
6,6,dublin-park,Dublin Park,Madison,Alabama,35758,9,2.0,34.709355,-86.735166,no,none,AL,35758,21560,2066909,USA,95867.764378
8,8,sportsplex,Sportsplex,Athens,Alabama,35611,19,4.0,34.814459,-86.941128,no,none,AL,35611,10330,514537,USA,49809.970958
11,11,langan-municipal-park,Langan Municipal Park,Mobile,Alabama,36608,19,3.0,30.706208,-88.159632,no,none,AL,36608,15650,1313695,USA,83942.172524
15,15,bowers-park,Bowers Park,Tuscaloosa,Alabama,35405,18,4.0,33.177104,-87.511381,no,none,AL,35405,18530,928260,USA,50094.981112
16,16,brahan-springs-park,Brahan Springs Park,Huntsville,Alabama,35805,18,3.0,34.705318,-86.600321,no,none,AL,35805,7820,218090,USA,27888.746803

In [10]:
# Store latitude and longitude in locations
locations = courses_df[["latitude", "longitude"]]

In [35]:
# Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [36]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦

In [37]:
Holes = courses_df["holeCount"].astype(float)

In [38]:
# Plot Heatmap
fig = gmaps.figure()
coordinates = [
    (40.71, -74.00),
    (30.26, -97.74),
    (46.87, -96.78),
    (47.60, -122.33),
    (32.71, -117.16)
]
markers = gmaps.marker_layer(coordinates)

In [29]:

# Add the layer to the map

In [30]:
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=Holes, 
                                 dissipating=False, max_intensity=30,
                                 point_radius=1)

In [31]:
# Add layer
fig.add_layer(heat_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))