# Project 1

The purpose of this notebook to document preliminary analyses of DiscGolf to average income.

DiscGolf.csv was sourced from https://www.kaggle.com/datasets/lanekatris/pdga-united-states-disc-golf-courses

postcode_level_averages was sourced from https://www.kaggle.com/datasets/hamishgunasekara/average-income-per-zip-code-usa-2018

Data joined and saved to the Resources folder as "draft_dgolf_avincome.csv"

In [1]:
#Import dependencies
import pandas as pd
import numpy as np
import matplotlib as plt
import requests
import json
from scipy.stats import linregress
import datetime

In [2]:
#read CSV and create Pandas DataFrames
draftdf = pd.DataFrame(pd.read_csv('Resources/draft_dgolf_avincome.csv'))

In [3]:
#check df
draftdf.head(2)

,Unnamed: 0,id,name,city,state_x,zip,holeCount,rating,latitude,longitude,Modified,Comments,state_y,zipcode,total_pop,total_income,country,avg_income
0,0,adventist-discovery-park,Adventist DISCovery Park,Opelika,Alabama,36804,3,NaN,32.645412,-85.378280,no,none,AL,36804,8240,417346,USA,50648.786408
1,1,agape-disc-golf-course,Agape Disc Golf Course,Scottsboro,Alabama,35769,9,NaN,34.622819,-86.080692,no,none,AL,35769,4170,316625,USA,75929.256595

In [4]:
#mergeall.plot.(x = '',y = 'total_pop',s = 50)

In [6]:
#create summary by state:  of number of courses, total population, average income, course rating

subdraftdf = draftdf[['state_y','total_pop','avg_income','holeCount','rating']]
subdraftdf.head()
groupdf= subdraftdf.groupby(['state_y'])

ltotpop = [groupdf['total_pop'].sum()]
lavinc = [groupdf['avg_income'].mean()]
lavholes = [groupdf['holeCount'].mean()]
lavrating = [groupdf['rating'].mean()]
ltotcourses = [groupdf['holeCount'].count()]

totpop = pd.DataFrame(ltotpop).transpose()
avinc = pd.DataFrame(lavinc).transpose()
avholes = pd.DataFrame(lavholes).transpose()
avrating = pd.DataFrame(lavrating).transpose()
totcourses = pd.DataFrame(ltotcourses).transpose()


merge12 = pd.merge(totpop,avinc,on='state_y')
merge34 = pd.merge(avholes,avrating,on='state_y')
merge12nmore = pd.merge(merge12,totcourses,on='state_y').rename(columns = {"holeCount":"n_courses"})
merge12nmore
mergeall = pd.merge(merge12nmore,merge34,on='state_y')
mergeall

         total_pop     avg_income  n_courses  holeCount    rating
state_y
AK          288780   74791.929935         31  13.451613  3.692308
AL          970510   60129.955845        121  15.438017  3.673913
AR          886250   55399.123422        109  13.981651  3.789474
AZ          994820   63961.727080         71  13.887324  3.410256
CA         4093380   75793.617001        309  14.239482  3.280000
CO         1879100   80219.338127        176  13.886364  3.277778
CT          330080  109678.582339         30  14.933333  3.611111
DE          178660   71301.197832         13  16.769231  3.000000
FL         2229570   71147.145914        178  14.471910  3.603774
GA         1757390   63097.464684        138  14.862319  3.588235
HI          108150   60827.755747         11  12.818182  4.666667
IA         1346220   66076.191609        287  11.668990  3.221053
ID          882470   65411.981714         99  12.868687  3.350000
IL         2729860   76785.410580        285  12.610526  3.084746
IN         1901680   61940.266185        185  14.821622  3.526316
KS         1440530   59990.129837        260  12.207692  3.370370
KY         1179610   54779.921308        113  15.292035  3.338462
LA          522550   62495.907920         56  15.267857  3.400000
MA          501090   89881.830978         60  15.250000  3.542857
MD          481640   79788.324256         50  14.840000  3.260870
ME          335500   59570.185714         74  16.148649  3.468750
MI         2712540   65157.653139        300  15.246667  3.713043
MN         2365280   69054.948215        339  11.265487  3.093750
MO         1762390   58524.152347        185  13.875676  3.718310
MS          636760   52094.057529         88  15.375000  3.400000
MT          416980   67112.388432         59  14.389831  3.523810
NC         3199590   64588.386519        273  14.739927  3.364341
ND          478900   72625.108754         60  11.016667  3.833333
NE          514590   60920.892644        110  10.736364  2.907407
NH          155490   83744.914772         32  15.781250  3.647059
NJ          489430  107111.459418         40  13.725000  3.375000
NM          486430   59271.861236         48  14.708333  3.125000
NV          458100   90855.067838         35  14.342857  3.722222
NY          932840   70437.625803        136  14.727941  3.113208
OH         2996830   62465.203712        260  13.792308  3.062937
OK         1256740   56919.647697        165  13.127273  3.129630
OR         1134120   65523.284153        143  13.475524  3.293333
PA         1881090   72327.360693        202  14.133663  3.389474
RI           40480   75712.363746          4  18.000000  3.500000
SC         1674680   63733.538516        122  13.770492  3.274194
SD          425440   64898.896932         74  11.391892  3.266667
TN         1785560   61614.344152        155  14.083871  3.419753
TX         6156110   73725.588366        464  13.896552  3.398936
UT          808780   70736.781258         72  13.472222  3.463415
VA         1380780   72861.719359        131  14.725191  3.439394
VT          111920   67267.081015         43  15.976744  3.700000
WA         1399470   76454.960721        128  13.539062  3.327586
WI         2489580   66144.270928        344  12.281977  3.550388
WV          294560   57620.272522         64  15.437500  3.545455
WY          291970   80759.996364         38  13.078947  3.181818

In [7]:
import plotly.express as px

In [10]:
ma2 = mergeall.reset_index()
ma2.head()

  state_y  total_pop    avg_income  n_courses  holeCount    rating
0      AK     288780  74791.929935         31  13.451613  3.692308
1      AL     970510  60129.955845        121  15.438017  3.673913
2      AR     886250  55399.123422        109  13.981651  3.789474
3      AZ     994820  63961.727080         71  13.887324  3.410256
4      CA    4093380  75793.617001        309  14.239482  3.280000

In [14]:
fig = px.choropleth(ma2,
                    locations='state_y',
                    locationmode="USA-states", 
                    scope="usa",
                    color='n_courses',
                    color_continuous_scale="Viridis_r", 

                    )


fig.show()

In [9]:
Mergeall2=mergeall.reset_index()
Mergeall2

           state_x  total_pop     avg_income  n_courses  holeCount    rating
0          Alabama     970510   60129.955845        121  15.438017  3.673913
1           Alaska     288780   74791.929935         31  13.451613  3.692308
2          Arizona     994820   63961.727080         71  13.887324  3.410256
3         Arkansas     886250   55399.123422        109  13.981651  3.789474
4       California    4093380   75793.617001        309  14.239482  3.280000
5         Colorado    1879100   80219.338127        176  13.886364  3.277778
6      Connecticut     330080  109678.582339         30  14.933333  3.611111
7         Delaware     178660   71301.197832         13  16.769231  3.000000
8          Florida    2229570   71147.145914        178  14.471910  3.603774
9          Georgia    1757390   63097.464684        138  14.862319  3.588235
10          Hawaii     108150   60827.755747         11  12.818182  4.666667
11           Idaho     882770   65559.228564        100  12.830000  3.350000
12        Illinois    2729860   76785.410580        285  12.610526  3.084746
13         Indiana    1901680   61940.266185        185  14.821622  3.526316
14            Iowa    1346220   66076.191609        287  11.668990  3.221053
15          Kansas    1440530   59990.129837        260  12.207692  3.370370
16        Kentucky    1188150   54763.981327        114  15.236842  3.338462
17       Louisiana     522550   62495.907920         56  15.267857  3.400000
18           Maine     335500   59570.185714         74  16.148649  3.468750
19        Maryland     481640   79788.324256         50  14.840000  3.260870
20   Massachusetts     501090   89881.830978         60  15.250000  3.542857
21        Michigan    2712540   65157.653139        300  15.246667  3.713043
22       Minnesota    2365280   69054.948215        339  11.265487  3.093750
23     Mississippi     636760   52094.057529         88  15.375000  3.400000
24        Missouri    1762390   58524.152347        185  13.875676  3.718310
25         Montana     416210   67079.977754         58  14.482759  3.550000
26        Nebraska     514590   60920.892644        110  10.736364  2.907407
27          Nevada     437070   92272.235298         34  14.529412  3.722222
28   New Hampshire     155490   83744.914772         32  15.781250  3.647059
29      New Jersey     489430  107111.459418         40  13.725000  3.375000
30      New Mexico     486430   59271.861236         48  14.708333  3.125000
31        New York     932840   70437.625803        136  14.727941  3.113208
32  North Carolina    3199590   64588.386519        273  14.739927  3.364341
33    North Dakota     479370   72439.367773         60  11.016667  3.714286
34            Ohio    2999610   62402.605148        261  13.762452  3.062937
35        Oklahoma    1253960   56985.456656        164  13.170732  3.129630
36          Oregon    1134120   65523.284153        143  13.475524  3.293333
37    Pennsylvania    1881090   72327.360693        202  14.133663  3.389474
38    Rhode Island      40480   75712.363746          4  18.000000  3.500000
39  South Carolina    1674680   63733.538516        122  13.770492  3.274194
40    South Dakota     425440   64898.896932         74  11.391892  3.266667
41       Tennessee    1777020   61670.523248        154  14.116883  3.419753
42           Texas    6156110   73725.588366        464  13.896552  3.398936
43            Utah     829810   70352.323627         73  13.397260  3.463415
44         Vermont     111920   67267.081015         43  15.976744  3.700000
45        Virginia    1380780   72861.719359        131  14.725191  3.439394
46      Washington    1399470   76454.960721        128  13.539062  3.327586
47   West Virginia     294560   57620.272522         64  15.437500  3.545455
48       Wisconsin    2489580   66144.270928        344  12.281977  3.550388
49         Wyoming     291970   80759.996364         38  13.078947  3.181818

In [16]:
#Get Midwest State
Midwest = Mergeall2.loc[(Mergeall2["state_x"]=="Illinois")|(Mergeall2["state_x"]=="Indiana")|(Mergeall2["state_x"]=="Iowa")|(Mergeall2["state_x"]=="Kansas")|(Mergeall2["state_x"]=="Michigan")|(Mergeall2["state_x"]== "Minnesota")|(Mergeall2["state_x"]=="Missouri")|(Mergeall2["state_x"]=="Nebraska")|(Mergeall2["state_x"]=="North Dakota")|(Mergeall2["state_x"]=="Ohio")|(Mergeall2["state_x"]=="South Dakota")|(Mergeall2["state_x"]=="Wisconsin")]
Midwest

         state_x  total_pop    avg_income  n_courses  holeCount    rating
12      Illinois    2729860  76785.410580        285  12.610526  3.084746
13       Indiana    1901680  61940.266185        185  14.821622  3.526316
14          Iowa    1346220  66076.191609        287  11.668990  3.221053
15        Kansas    1440530  59990.129837        260  12.207692  3.370370
21      Michigan    2712540  65157.653139        300  15.246667  3.713043
22     Minnesota    2365280  69054.948215        339  11.265487  3.093750
24      Missouri    1762390  58524.152347        185  13.875676  3.718310
26      Nebraska     514590  60920.892644        110  10.736364  2.907407
33  North Dakota     479370  72439.367773         60  11.016667  3.714286
34          Ohio    2999610  62402.605148        261  13.762452  3.062937
40  South Dakota     425440  64898.896932         74  11.391892  3.266667
48     Wisconsin    2489580  66144.270928        344  12.281977  3.550388

In [ ]:
mergeallsort = mergeall.sort_values('n_courses',ascending= False)
mergeallsort

In [ ]:
mergeall.plot.scatter(x = 'n_courses',y = 'total_pop',s = 50)

In [ ]:
mergeall.plot.scatter(x = 'n_courses',y = 'avg_income',s = 50)

In [ ]:
mergeall.plot.scatter(x = 'n_courses',y = 'rating',s = 50)

In [ ]:
#create a scatterplot function


df = 'mergeall'
datasetID = 'DiscGolf'
xparam = 'ltotcourses'
yparam = 'ltotpop'
yunits = 'state_pop'
fcolor = 'lightblue'
ecolor = 'mediumblue'

#some color options mistyrose and maroon,seashell  and saddlebrown,honeydew and forestgreen,lightblue and meduimblue
#https://matplotlib.org/stable/gallery/color/named_colors.html


def LRPlots():
    xdata = df[xparam]
    ydata = df[yparam]

    (slope, intercept, rvalue, pvalue, stderr) = linregress(xdata, ydata)
    regress_values = xdata * slope + intercept
    line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

    plt.figure(figsize = (9,7))
    plt.scatter(xdata, ydata, marker="o", facecolors=fcolor, edgecolors=ecolor,s =75)

    # plt.xlim(-55,85)
    # plt.ylim(0,105)
    annotatex = min(xdata)+0.1*max(xdata)
    annotatey = max(ydata)-0.1*max(ydata)

    plt.plot(xdata,regress_values,"darkslategray")
    plt.annotate(f'{line_eq} r={round(rvalue,2)}',(annotatex,annotatey),fontsize=15,color="black")
    

    plt.title(f"{xparam} vs. {yparam}")
    plt.xlabel(f"{xparam}")
    plt.ylabel(f"[{yparam} {yunits}]")
    plt.grid()


    
    print(f'The r-value is {round(rvalue,2)}')

   

    # Save the figure
    figname = f'{datasetID}_{xparam}_vs_{yparam}'
    
    plt.savefig(f"output_data/{figname}.png")

    # Show plot
    plt.show()

LRPlots()

In [ ]:
# scatter plot of state population vs number of disc golf courses

In [ ]:
# scatter plot of state average income vs number of disc golf courses

In [ ]:
#My  Define a function to create Linear Regression plots
# Columns ['City', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness','Wind Speed', 'Country', 'Date'],
# Max Temp units (Celsius), Humidity units (%), Cloudiness units (%) Wind Speed (m/s)

datasetID = 'DiscGolf'
xparam = 'Lat'
yparam = 'Wind Speed'
yunits = '(m/s)'
fcolor = 'lightblue'
ecolor = 'mediumblue'

#some color options mistyrose and maroon,seashell  and saddlebrown,honeydew and forestgreen,lightblue and meduimblue
#https://matplotlib.org/stable/gallery/color/named_colors.html


def LRPlots():
    xdata = df[xparam]
    ydata = df[yparam]

    (slope, intercept, rvalue, pvalue, stderr) = linregress(xdata, ydata)
    regress_values = xdata * slope + intercept
    line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

    plt.figure(figsize = (9,7))
    plt.scatter(xdata, ydata, marker="o", facecolors=fcolor, edgecolors=ecolor,s =75)

    # plt.xlim(-55,85)
    # plt.ylim(0,105)
    annotatex = min(xdata)+0.1*max(xdata)
    annotatey = max(ydata)-0.1*max(ydata)

    plt.plot(xdata,regress_values,"darkslategray")
    plt.annotate(f'{line_eq} r={round(rvalue,2)}',(annotatex,annotatey),fontsize=15,color="black")
    

    plt.title(f"City Latitude vs. {yparam} ({datedatapull})")
    plt.xlabel("Latitude")
    plt.ylabel(f"[{yparam} {yunits}]")
    plt.grid()


    
    print(f'The r-value is {round(rvalue,2)}')

   

    # Save the figure
    figname = f'{datasetID}_{xparam}_vs_{yparam}'
    
    plt.savefig(f"output_data/{figname}.png")

    # Show plot
    plt.show()

LRPlots()

In [ ]:
# Disc Golf update zip so dtype is int64 instead of object so we can merge the two dfs

discgolfdf2 = discgolfdf.dropna(subset = ['zip'])
discgolfdf2sort = discgolfdf2.sort_values('zip')
discgolfdf2sort

discgolf drop zip NaN  DROP NA DOESN'T WORK BECAUSE IT'S NOT NA, sort doesn't work because it doesn't sort them at the beginning or end.  
DiscGolfClean = manually edited disc golf csv to fix zips, added Modified column (no,yes) and Comment column (none, or modification info)

In [ ]:
discgolfcleandf.head()

In [ ]:
discgolfcleandf.dtypes

In [ ]:
#check zipcodecsv 
zipcodedf.head(2)

In [ ]:
zipcodedf.dtypes

In [ ]:
# Create DraftMerge - inner join DiscGolfcleandf and zipcodedf
#nice reference https://www.shanelynn.ie/merge-join-dataframes-python-pandas-index-1/
draft_dgolf_avincome = pd.merge(discgolfcleandf,zipcodedf,how = 'inner',left_on='zip',right_on='zipcode')
draft_dgolf_avincome.head()

In [ ]:
#export draft_dgolf_avincome to csv
draft_dgolf_avincome.to_csv('Resources/draft_dgolf_avincome.csv')