# Project 1

The purpose of this notebook to prepare the DiscGolf and postcode_level_averages data for analysis.

DiscGolf.csv was sourced from https://www.kaggle.com/datasets/lanekatris/pdga-united-states-disc-golf-courses

postcode_level_averages was sourced from https://www.kaggle.com/datasets/hamishgunasekara/average-income-per-zip-code-usa-2018

In [2]:
#Import dependencies
import pandas as pd
import numpy as np
import matplotlib as plt
import requests
import json

In [11]:
#read CSVs and create Pandas DataFrames
discgolfdf = pd.DataFrame(pd.read_csv('Resources/DiscGolf.csv'))
zipcodedf = pd.DataFrame(pd.read_csv('Resources/postcode_level_averages.csv'))

In [12]:
#check discgolfcsv MAJORITY OF COURSES HAVEN NAN RATING BUT DEFINITELY WANT TO KEEP THE DATA, CAN'T USE delete nan to clean up unless it's directed to a single column or all colunms but rating.  
#OR change NaN to 0?
discgolfdf.head(2)

,id,name,city,state,zip,holeCount,rating,latitude,longitude
0,adventist-discovery-park,Adventist DISCovery Park,Opelika,Alabama,36804,3,NaN,32.645412,-85.378280
1,agape-disc-golf-course,Agape Disc Golf Course,Scottsboro,Alabama,35769,9,NaN,34.622819,-86.080692

In [18]:
#check zipcol for missingresults


zipcheck= [discgolfdf['zip']]

In [19]:
zipcheck

[0       36804
 1       35769
 2       35570
 3       36830
 4       35016
         ...
 7003    25422
 7004    25064
 7005    25901
 7006    25879
 7007    26187
 Name: zip, Length: 7008, dtype: object]

In [9]:
#check zipcodecsv - FOR DATA CLEANUP 
zipcodedf.head(2)

  state  zipcode  total_pop  total_income country    avg_income
0    AK        0     345220      25354974     USA  73445.843230
1    AK    99501       7690        612242     USA  79615.344603

In [ ]:
# Create DraftMerge - inner join DiscGolfdf and zipcodedf

In [ ]:
#export DraftMerge_DGolf_AvIncome to csv